<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.momsline.rnyandexads">

    <application>
        <provider
                android:name=".AdsContentProvider"
                android:authorities="app.momsline.rnyandexads"
                android:enabled="true"
                android:exported="true"></provider>
    </application>

</manifest>